
<div class="container">
	<h3>Ars Technica Edition</h3>

    {{#each article}}
	<div class="panel panel-primary">
            <div class="panel-heading">
                <a target="_blank" href="{{this.link}}" class="title">{{this.title}}</a>
                <a href="/save/{{this._id}}" id="saveButton"><button type="button" class="btn btn-success">Save</button></a>
            </div>
	</div>
    {{/each}}
</div>
