
<div class="container">
	<h3><span id="ars">ars</span> Technica Edition</h3>

    {{#each article}}
	<div class="panel panel-primary">
            <div class="panel-heading">
                <a target="_blank" href="{{this.link}}" class="title">{{this.title}}</a>
                <a href="/save/{{this._id}}" id="saveButton"><button type="button" class="btn-sm btn-success">SAVE</button></a>
            </div>
            <div class="panel-body">
                    <p>{{this.about}}</p>
            </div>
	</div>
    {{/each}}
    <h4>Maybe it's time to scrape more articles...</h4>
</div>
